.corpo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacao__titulo, .seu-projeto__titulo, .personalizacao__titulo{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: .4em;
}

.navegacao, .editor-de-projeto{
    width: 19.76%;
}

.editor-de-codigo{
    width: 54.65%;
}

    @media screen and (max-width: 1024px){
        .corpo{
            flex-direction: column;
            gap: 40px;
        }

        .editor-de-codigo{
            width: 100%;
        }

        .editor-de-projeto{
            width: 100%;
        }
    }