.editor-de-codigo__fundo{
    background: #6BD1FF;
    width: 100%;
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
}

.ide--black{
    background: var(--editor-de-codigo);
    padding: 16px;
    border-radius: 8px;
}

.editor-de-codigo__elipses{
    display: block;
    height: 12px;
    margin-bottom: 24px;
}

code{
    display: block;
    font-family: var(--fonte-codigo);
    font-weight: 400;
    font-size: 14px;
    line-height: 18.46px;
    /* min-height: 234px; */
}

.botao-highlight{
    width: 100%;
    background: var(--cor-botao-highlight);
    border: none;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    color: var(--fonte-geral);
    margin-top: 32px;
}

    @media screen and (max-width: 1024px){
        .botao-highlight{
            min-width: 56px;
        }
    }